---
import Container from '@/components/Container.astro';

const currentYear = new Date().getFullYear();
---

<Container as='footer' class='pt-24'>
  <p class="text-center text-muted-foreground text-sm">
    &copy; {currentYear}. Powered by <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a> and CVfolio.
  </p>
</Container>
